
## <summary>policy for bitcoinbrass</summary>


########################################
## <summary>
##	Transition to bitcoinbrass.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`bitcoinbrass_domtrans',`
	gen_require(`
		type bitcoinbrass_t, bitcoinbrass_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, bitcoinbrass_exec_t, bitcoinbrass_t)
')


########################################
## <summary>
##	Execute bitcoinbrass server in the bitcoinbrass domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinbrass_initrc_domtrans',`
	gen_require(`
		type bitcoinbrass_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, bitcoinbrass_initrc_exec_t)
')


########################################
## <summary>
##	Search bitcoinbrass lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinbrass_search_lib',`
	gen_require(`
		type bitcoinbrass_var_lib_t;
	')

	allow $1 bitcoinbrass_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read bitcoinbrass lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinbrass_read_lib_files',`
	gen_require(`
		type bitcoinbrass_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, bitcoinbrass_var_lib_t, bitcoinbrass_var_lib_t)
')

########################################
## <summary>
##	Manage bitcoinbrass lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinbrass_manage_lib_files',`
	gen_require(`
		type bitcoinbrass_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, bitcoinbrass_var_lib_t, bitcoinbrass_var_lib_t)
')

########################################
## <summary>
##	Manage bitcoinbrass lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinbrass_manage_lib_dirs',`
	gen_require(`
		type bitcoinbrass_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, bitcoinbrass_var_lib_t, bitcoinbrass_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a bitcoinbrass environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`bitcoinbrass_admin',`
	gen_require(`
		type bitcoinbrass_t;
		type bitcoinbrass_initrc_exec_t;
		type bitcoinbrass_var_lib_t;
	')

	allow $1 bitcoinbrass_t:process { ptrace signal_perms };
	ps_process_pattern($1, bitcoinbrass_t)

	bitcoinbrass_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 bitcoinbrass_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, bitcoinbrass_var_lib_t)

')

